{% extends 'base.html' %}
{% include 'base_nav.html'%}
{% block container %}
    <div class="card my-4 mx-auto">
        <div class="card-body m-2 m-md-4">
            <article class="row">

                <div class="col-5"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
                <div class="col-7">

                    <section class="teacher=info">

                        <h1 class="h2">{{ teacher.name }}</h1>
                        <p>
                            {% for goal in teacher.goals %}
                                <span class="badge badge-secondary mr-2">{{ goals[goal] }} </span>
                            {% endfor %}
                            Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час
                        </p>
                        <p>{{ teacher.about }}</p>

                    </section>

                    <section class="available">

                        <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
                        {% for day_key, day_value in day_week.items() %}
                            <h6 class="mt-4">{{ day_value }}</h6>
                            {% set ns = namespace(no_free = true) %}
                            {% for time_key, time_value in teacher.free[day_key].items() %}
                                {% if time_value %}
                                    <a href="/booking/{{ id_teacher }}/{{ day_key }}/{{ time_key }}"
                                       class="btn btn-outline-success mr-2 mb-2">{{ time_key }} свободно</a>
                                    {% set ns.no_free = false %}
                                {% endif %}
                            {% endfor %}
                            {% if ns.no_free %}
                                <p>Нет свободных уроков</p>
                            {% endif %}
                        {% endfor %}
                    </section>
                </div>
            </article>
        </div>
    </div>
{% endblock %}